#logo {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    .icon {
        grid-row: 1/3;
        width: 30px;
        align-self: center;
    }
    .title {
        font-weight: bold;
    }

  }
