<div class="container">
    <div nz-row nzType="flex" nzAlign="middle" nzGutter="48" class="main-content">
        <div nz-col nzSpan="12">
            <div class="title">
                <h1>百万专业开发资源，就在开源众包</h1>
                <h1>垂直技术社区10年沉淀 350万+活跃开发者 海量行为数据智能匹配</h1>
            </div>
            <div class="subtitle">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur soluta fugit reiciendis ut, quis odio sint nam iure
                consectetur nemo labore eveniet laboriosam harum accusantium vitae possimus necessitatibus repellendus impedit?
            </div>
            <div class="subscribe mt-20">
                <button nz-button nzType="primary" nzSize="large" nzShape="round">立刻发布需求</button>
                <button nz-button nzSize="large" nzShape="round">查看成功案例</button>
            </div>
        </div>

        <div nz-col nzSpan="12">
            <div class="side-image">
                <embed src="../../../assets/svgs/undraw_creative_team_r90h.svg" type="" />
            </div>
        </div>
    </div>
    <div class="text-center mb-20">
        <h2>支持的技术栈</h2>
    </div>
    <div nz-row class="stack-content" nzType="flex" nzJustify="space-between" nzAlign="middle">
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/JavaScript.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/typescript.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/Angular.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/Vue.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/Android.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4">
            <embed class="stack-logo" src="../../../assets/stack-icon/file_type_flutter.svg" />
        </div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/ionic.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/mongodb.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/my-SQL.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/nestjs.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/Nodejs.svg" /></div>
        <div class="mb-20 text-center" nz-col nzSpan="4"><embed class="stack-logo" src="../../../assets/stack-icon/python.svg" /></div>
    </div>
</div>
