.home-container{
  .red-circle{
    position: relative;
    left: 100px;;
    animation: upside-down 5s 1s ease-in infinite alternate;
  }
}
.main-content {
    height: 600px;
    .subscribe > button {
        margin-right: 30px;
    }
    .side-image {
        text-align: center;
        embed {
            width: 80%;
        }
    }

    .title {
        margin-bottom: 20px;
        h1 {
            font-size: 40px;
            margin: 0;
        }
    }
}
.stack-content {
    .stack-logo {
        box-sizing: border-box;
        height: 100px;
        width: 100px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.02);
        border-radius: 50px;
    }
}
